header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 698px;
    margin: 0 auto;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:30px 60px;
}
nav .logo{
    font-size: 34px;
    font-weight: bold;
    font-family:'inter' sans-serif;
    color: #4F46e5;

}
.nav-button{
    background-color: #4F46e5;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'raleway';
    cursor: pointer;
    width: 132px;
    height: 48px;
}
.hero{
    text-align: center;
    margin-top: 120px;
}
.hero h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 30px;
    font-family: 'raleway';


}
.hero-button{
    background-color: #4E47FF;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 12px 24px;

}