header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 698px;
    margin: 0 auto;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:30px 60px;
}
nav .logo{
    font-size: 34px;
    font-weight: bold;
    font-family:'inter' sans-serif;
    color: #4F46e5;

}
.nav-button{
    background-color: #4F46e5;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'raleway';
    cursor: pointer;
    width: 132px;
    height: 48px;
}
.hero{
    text-align: center;
    margin-top: 120px;
}
.hero h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 30px;
    font-family: 'raleway';


}
.hero-button{
    background-color: #4E47FF;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 12px 24px;

}
.action-section{
    display: flex;
    justify-content:space-evenly;
    align-content: center;
     width: 1140px;
    height: 328px;
    margin: 0 auto;
    padding-left: 141px;
    padding-right: 159px;
   
}
.action h3{
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}
.action p{
    font-size: 24px;
    color: #252432;

}
.action button{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: 36px;
    width: 229px;
    height: 48px;
    cursor: pointer;


}
.action-section img{
    width: 403px;
    height: 328px;
    border: none;
    border-radius: 48px;
    
}

.feedback h2{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}
.card{
    background-color: white;
    padding: 24px 24px;
    width: 366px;
    height: 243px;
    border: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-align:left;
    border: 14px;
    
    

}
.star{
    display: flex;
    width: 16.67px;
    height: 15.85px;
    color: #FFB805;
}
.title{
    font-weight: bold;
    font-size: 16px;
    font-family: ('heading');
}
.description{
    font-family:('body base');
    font-size: 14px;
    margin-bottom: 15px;

}
.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

}
.reviewer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.reviewer-details{
    color: #757575;

}
.reviewer-details br{
    color: #B3B3B3;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 10px;
}